.cn0{height:800px;min-height:100vh;display:flex;position:absolute;top:0px;right:0px;left:0px;flex-direction:column;overflow-x:hidden;overflow-y:hidden;color:var(--foreground);font-family:Wigrum, -apple-system, "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;font-style:normal;line-height:24.8px;letter-spacing:normal;word-spacing:0px;text-align:start;text-transform:none;white-space:normal;word-break:normal;overflow-wrap:normal;text-indent:0px;text-shadow:none;font-variant-caps:normal;font-feature-settings:normal;list-style-position:outside;writing-mode:horizontal-tb;direction:ltr;background-color:var(--background)}

@media (max-width: 571px) {
.cn0{height:812px}
}

@media (min-width: 572px) and (max-width: 1024px) {
.cn0{height:1024px}
}

@media (min-width: 1601px) {
.cn0{height:1080px;position:static;top:auto;right:auto;left:auto;overflow-x:initial;overflow-y:initial}
}
@keyframes tabFadeIn { 
  0% { opacity: 0; transform: translateY(8px); }
  100% { opacity: 1; transform: translateY(0px); }
}